

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    transition: all 0.2s ease-in;
        font-family: "Truculenta", sans-serif;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
        font-variation-settings:
          "wdth" 100;
    
}

.ntop-header{
    display: flex;
    justify-content: space-around;
    background-color: rgb(14, 184, 14);
    gap: 250px;
}

.ntop-header img{
    width: 175px;
    height: 100px;
   
}

.ntop-right, .ntop-left{
    display: flex;
}
.ntop-right{
    margin-top: 1px;
}
.rcs{
 display: flex;
 gap: 3px;

}
.rcs li{
    padding: 10px;
    background-color: white;
}
.rcs li a, .nmenu li a {
    color: rgb(3, 3, 158);
}

.rcs li:hover{
    background-color: #00DCFF;
}


.ntop-left{
 display: flex;
 align-items: center;
 justify-content: left;
 margin-left: 7px;
}

.nmenu{
    display: flex;
    gap: 3px;
    margin-top: 130px;
    margin-left:-140px;
}
.nmenu li{
    padding: 15px;
    background-color: white;
    position: relative;
}
.nmenu li:hover{
    background-color: #00DCFF;
}

.nmenu li.home{
    background-color: #00DCFF;
}

.sub-nowruz li, .sub-charshanbe li, .sub-sizdah li, .sub-Yalda li{
    display: block;
    background-color: rgb(177, 225, 244);
}

.sub-nowruz, .sub-charshanbe, .sub-sizdah, .sub-Yalda{
    display: none; 
    position: fixed;
    z-index: 1000;
    margin-top: 15px;
  
   
}

li.nowruz:hover .sub-nowruz, li.charshanbe:hover .sub-charshanbe, li.sizdah:hover .sub-sizdah, li.yalda:hover .sub-Yalda{
    display: block;
    
}
.sub-nowruz li a, .sub-charshanbe li a,.sub-sizdah li a,.sub-Yalda li a {
    padding: 10px;
}

.bottom{
    margin-left: 5px;
    width: 195vh;
    height: 100vh;
    background: black;
    background-image: url('https://learnenglish.britishcouncil.org/sites/podcasts/files/styles/max_1300x1300/public/RS7921_ThinkstockPhotos-921158504-hig.jpg?itok=Mp-1v9mi');
    background-position: center;
}

.whatis{
    width: 550px;
    height: 400px;
    position: absolute;
    margin-top: 200px;
    left: 30px;
    background-color: white;
    border-radius: 20px 5px 20px 5px;
    text-align: center;
    text-indent: 5px;
    margin-left: 100px;
   
}

.whatis p{
    margin-top: 5px;
    text-align: justify;
    padding: 30px;
    color:  rgb(3, 3, 128);
}
.whatis h1{
    margin-top: 20px;
    font-size: 50px;
    color: #23085A;
    margin-right: 100px;
}
.whatis button{

    margin-right: 220px;
    padding: 15px;
    width: 260px;
    background-color: #23085A;
    color: white;
    border-radius: 30px;
    border: none;
}
.line{
    width: 50px;
    height: 5px;
    background-color:  rgb(34, 187, 248);
    margin-left: 40px;
    margin-top: 30px;
    border-radius: 10px;
}
.whatis button:hover{
    background-color: rgb(249, 4, 175);
}

.highlight{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}
.aprilhigh{
    margin-top: 50px;
    margin-left: 115px;
}
.aprilhigh{
    font-size: 25px;
    font-weight: bold;
    color:#23085A ;
}
.highlight div{
    flex-direction: column;
    width: 400px;
    height: 300px;
   
}

.highlight h2{
   font-size: 18px;
    margin-top: 30px;
    color:#23085A ;
}

.highlight h2:hover{
    text-decoration: underline;
}
.highlight p{
    margin-top: 20px;
    font-size: 16px;
    color: rgb(132, 128, 128);
    width: 400px;
    height: 50px;
}
.highlight img{
    width: 400px;
    height: 250px;
    border-radius:20px 5px 20px 5px ;
}

.global{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 130px;
}

.tri{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #EBEFF0;
    width: 1300px;
    height: 700px;
    padding: 80px;
    gap: 60px;
    margin-bottom: 40px;
}
.tri h3{
    font-size: 30px;
   margin-top: -150px;
    color: #23085A ;
}
.triheader p{
    font-size: 20px;
    color: rgb(124, 123, 123);
    margin-top: 20px;

}

.circles{
    display: flex;
    justify-content: space-evenly;
}

.circles div{
    display: flex;
    flex-direction:column;
    align-items: center;
    width: 150px;
    height: 150px;
    padding: 20px;
    background-color: #00EDC3;
    border-radius: 50%;
    margin-top: -50px;
}
.c1 p, .c2 p{
    margin: 90px 0; 
    text-align: center;
    display: inline;
    width: 300px;
    color: #54565A;
    font-weight: bold;
    font-size: 15px;
}
.c3 p{
    margin: 105px 0; 
    text-align: center;
    display: inline;
    width: 300px;
    color: #54565A;
    font-weight: bold;
    font-size: 15px;
}

.c1 h2, .c2 h2{
    margin: 0;
    color: #23085A;
    font-size: 30px;
    margin-top: 20px;
    text-align: center;
}

.c3 h2{
    margin: 0;
    color: #23085A;
    font-size: 30px;
    margin-top: 40px;
    text-align: center;
}


.choose{
    margin-top: -100px;
    background-color: #23085A;
    width: 950px;
    height: 250px;
    border-radius: 30px 5px 30px 5px;

}
.choose h1{
    font-size: 30px;
    margin-top: 40px;
    justify-items: center;
    color: white;
}
.select{
    position: relative;
    display: flex;
    padding: 20px;
    width: 400px;
    height: 50px;
    border: none;
    background-color: #fff;
    margin-top: 30px;
    margin-left: 260px;
    border-radius: 60px;
}
.select p{
    position: absolute;
    transform: translateY(-50%);
    font-size: 20px;
    color: #23085A;
}
.chsvg{
    margin-top: -11px;
    position: absolute;
    margin-left: 300px;
}
.rein{
    display: flex;
    margin-top: 90px;
    gap: 100px;
    margin-left: 100px;
}

.rein h2{
    color:rgb(3, 3, 128) ;
}
.rein p{
    margin-top: 20px;
    color: rgb(107, 106, 106);
}
.rein button{
    width: 240px;
    height: 50px;
    border-radius: 30px;
    margin-top: 20px;
    background-color:#23085A;
    color: white;
    border: none;
}

.rein button:hover{
    background-color: rgb(249, 4, 175);
}
.end{
    position: relative;
    width: 100%;
    height: 400px;


}
.end-right{
    position: absolute;
    top: 50px;
    right:90px;
    width: 760px;
    height: 480px;
    background-size: cover;
    z-index: 1;
    background-image: url('https://media.mehrnews.com/d/2020/03/09/3/3403191.jpg');
    border-radius: 20px 0px 0px 0px;
}

.end-left{
    position: absolute;
    top: 200px;
    right: 700px;
    width: 600px;
    height: 400px;
    background-color:white;
    z-index: 2;
    border-radius:40px;

}
.end-left h3{
    margin-top: 30px;
    color: #005CB9;
    font-size: 20px;
}
.end-left h2{
    margin-top: 20px;
    font-size: 30px;
    color:#23085A ;
}
.end-left p{
    margin-top: 30px;
    color: #54567F;
}
.articles{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
    margin-top: 200px;
    padding: 40px;
}

.articles img{
    width: 420px;
    height: 250px;
    border-radius:20px 5px 20px 5px ;
    margin-bottom: 30px;
}
.articles div{
    flex-direction: column;
    width: 400px;
    height: 300px;

}
.articles h3{
   color: #005CC0;
   font-size: 17px;
   margin-bottom: 20px;
}
.articles a{
    margin-top: 50px;
    color:#23085A ;
    font-size: 20px;
    font-weight: bold;
}
.articles p{
    margin-top: 15px;
    font-size: 16px;
    color:#595E5F;
}
.articles a:hover{
    text-decoration: underline;
}

.magazines{
    margin-top: 200px;
    background-color: #EBEFF0;
    width: 1300px;
    height: 600px;
    margin-left: 90px;
}

.top-mag{
    display: flex;
    gap: 100px;
}
.top-mag h2{
    margin-top: 30px;
    color:#23085A ;
    margin-top: 50px;
    margin-left: 50px;
}
.top-mag p{
    margin-top: 20px;
    color: rgb(107, 106, 106);
    width: 650px;
    margin-left: 50px;
}
.top-mag button{
    width: 240px;
    height: 50px;
    border-radius: 30px;
    margin-top: 50px;
    background-color:#23085A;
    color: white;
    border: none;
}

.top-mag button:hover{
    background-color: rgb(249, 4, 175);
}
.bottom-mag{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.bottom-mag img{
        width: 370px;
        height: 210px;
        border-radius:30px 0px 30px 0px ;
}

.bottom-mag h3{
    margin-top: 40px;
    color:#23085A;
    font-size: 20px;
    width: 400px;
}
.bottom-mag h3:hover{
    text-decoration: underline;
}
.bottom-mag div{
 gap: 10px;
}
.more{
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    
}

.more img{
    margin-top: 30px;
    border-radius: 30px 0px 30px 0px;

}
.morebc{
    font-size: 25px;
    margin-top: 20px;
    margin-left: 100px;
    font-weight: bold;
    color: #23085A ;
}
footer{
    margin-top: 80px;
    background-color:#23085A;
}

.top-footer{
    display: flex;
    align-items: center;
   
}
.sphere{
    margin-top: 30px;
    margin-left: 80px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 13px;
    border: #fff solid 0.5px;
}
.sphere svg{
   margin-bottom:20px ;
}
.plus{
    margin-top: 30px;
    margin-left: 30px;
}
.plus:hover, .sphere:hover{
    color: #7AE4FE;
}
.top-footer h1{
    margin-top: 30px;
    margin-left: 30px;
    color: white;
    font-weight: lighter;
}
.line2{
    margin-top: 30px;
    background-color: #ffffff6e;
    padding: 0.1px;
    width: 100%;
}
.bottom-footer{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}
.bottom-footer p{
    margin-bottom: 20px;
    color: #12DCFF;
}
.aboutus li, .work li, .magazine li, .contact li {
    margin-bottom: 10px;
}
.bottom-footer li a{
    color: white;
}
.bottom-footer li a:hover{
    text-decoration: underline;
}
.copyright{
    height:200px;
}
.copyright p{
    color: white;
    margin-top: 60px;
    margin-left: 100px;
    width: 900px;
    height: 100px;
}

.c{
    margin-top: 50px;
    flex-direction: column;
}
.c p{
    color: white;
    font-size: 20px;
    margin-left: 100px;
    font-weight: bold;
}
.c div{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    margin-left: 100px;
    gap: 20px;
}
.line3{
    margin-top: 30px;
    margin-left: 90px;
    background-color:#ffffff6e;
    padding: 0.3px;
    width: 1300px;
}

.contact2{
    display: flex;
    margin-top: 40px;
    margin-left: 80px;

}
.contact2 a{
font-size: 14px;
 color: white;
 margin-left: 20px;
}
